# Lines matching patterns will assign code ownership.
# Adjust GitHub usernames or teams below.

* @Brandon-Roff
docs/** @Brandon-Roff
Linux/** @Brandon-Roff
Windows/** @Brandon-Roff
.github/workflows/** @Brandon-Roff