site_name: "TRMM Scripts Documentation"
site_description: "Windows & Linux scripting for Tactical RMM"
repo_url: https://github.com/Brandon-Roff/TRMM-Scripts
edit_uri: blob/main/docs/
theme:
  name: material
  palette:
    - scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - content.code.copy
extra_css:
  - css/redblack.css
nav:
  - Home: index.md
  - Naming Convention: naming-convention.md
  - Quick Start: quick-start.md
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.extra
plugins:
  - search
